
data/


__pycache__/
*.pyc
*.pyo
.pytest_cache/

wandb/
*/wandb/


*.ckpt
*.pth

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.zip

rf-detr/rf-detr-nano.pth
rf-detr/rf-detr-small.pth
rf-detr/rf-detr-seg-nano.pt


.DS_Store
*.swp
.idea/
.vscode/
